.content
  font-size 2em
  color white

.incident
  border-radius 0.5em
  padding 0.5em
  margin-bottom 0.5em

  &.triggered
    background-color red

  &.acknowledged
    color #222
    background-color #ffd200

  &.resolved
    background-color green